<section class="container">
    <div class="grid">
        {{#if reels}}
        <div class="content">
            {{#each url}}
            <div class="image d-grid gap-2 mx-auto">
                {{#if this.image}}
                <img src="../../data/images/{{this.image}}" alt="error">
                <a class="btn btn-primary justify-content-md" href="/download/{{this.image}}">Download</a>
                {{else}}
                <video src="../../data/images/{{this.video}}" controls></video>
                <a class="btn btn-primary justify-content-md" href="/download/{{this.video}}">Download</a>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{else}}
        <div class="content">
            <div class="profile d-grid gap-2 mx-auto">
                <img src="../../data/images/{{profileUrl}}" class="img-fluid" alt="Error">
                <p class="text-center" style="color: white;">{{username}}</p>
                <a class="btn btn-primary justify-content-md" href="/download/{{profileUrl}}">Download</a>
            </div>
        </div>
        {{/if}}
    </div>
</section>